.dashbord-bg{


}
.paper-text-cont{
    font-weight: bold;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    p{
        font-size: 10px;
    }
   
    span{

    }
}

#root > div > div.routes > div > main > div:nth-child(2) > div.chart-container > div{
    height: 91%;
}

#root > div > div.routes > div > main > div:nth-child(3) > div:nth-child(2) > div > div{
    padding-top: 1.2rem;
}
#root > div > div.routes > div > main > div:nth-child(3) > div > div > table > thead > tr{
    font-family: 'Poppins' !important;
    font-size: 56px !important;
}

#root > div > div.routes > div > main > div:nth-child(3) > div:nth-child(1) > div > div{
    padding-top: 1.2rem;
}