.side-nav-bar-container {
    display: flex;
    align-items: center;
    width: 7vw;
    height: 100vh;
    //background-color: aliceblue;
    // position: fixed;
    // top: 0;
    // left: 0;
    ul {
        padding: 0;
        width: 100%;
        text-align: center;
        li {
            height: 4rem;
            list-style: none;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            //background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                color: #8291a9;
            }
        }
        .active {
            .top-curve,
            .bottom-curve {
                position: relative;
                left: 0;
                width: 7vw;
                height: 20px;
                background-color: red;
            }
            .top-curve {
                top: -20px;
            }
            .bottom-curve {
                bottom: -20px;
            }
            li {
                background-color: white;

                svg {
                    color: #1f54a3;
                }
            }
        }
        li:hover {
            cursor: pointer;
            svg {
                color: #1f54a3;
            }
        }
    }
}
