.bank-cards-container {
    display: flex;
    justify-content: space-between;
}
.tab-header {
    margin-bottom: 1rem;
}
.trans-container {
    width: 46vw;
}
.trans-header-container {
    margin-bottom: 1rem;
}
.trans-table-container {
   
    margin-right: 1rem;
    height: 40vh;
    /* overflow: hidden; */
    overflow-y: scroll;
}
.trans-chart-container {
    
    height: 40vh;
    display: flex;
    //background-color: antiquewhite;
    justify-content: space-between;
}
.chart-container {
    width: 38vw;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    //background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
