.layout {
    display: flex;
    width: 100vw;
    justify-content: center;
}
.container {
    display: flex;
    background-color: #f2f5fa;
    //width: 1344px;
    height: 100%;
    align-self: center;
}
.header-page-container {
    width: 100%;
    padding-right: 2.5vw;
}
.header-bar-container {
    width: calc(100vw - 7vw - 2.5vw);
    //padding-right: 2.5vw;
}
.page-view-container {
    height: calc((100vh - 9.29vh) - 6.3vh);
    background-color: #ffffff;
    border-radius: 14px;
    padding: 1rem 2rem;
}
